.sidebar {
  text-align: left;
  justify-content: left;
  background-color: #181825;
  border: 0px solid #181825;
  min-width: 200px;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  flex: 0 1 25%;
  padding: 1rem;
}

.sidebar .profile {
  text-align: center;
  color: #cdd6f4;
}

.sidebar .profile img {
  width: 150px;
  border-radius: 50%;
}
