.projects {
  .title {
    color: #cdd6f4;
  }
  .subtitle {
    color: #bac2de;
  }
  .project-tags {
    color: #bac2de;
  }

  .projects-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;

    .project-item {
      h1 {
        color: #a6adc8;
      }
      p {
        color: #7f849c;
      }

      background-color: #181825;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      .project-tags {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
        a {
          /* Optional decoration */
          /* color: #bac2de; */
          /* text-decoration: none; */
          /* padding: 0.5rem; */
          /* border-radius: 5px; */
          /* background-color: #1e1e2e; */
          /* transition: all 0.3s ease; */
          /* text-decoration: none; */
          color: #cba6f7;
        }
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
